description "etcd service"
author "runner"

script

	ETCD_OPTS="--name {{ ansible_nodename }} --data-dir /lib/var/{{ etcd_version }}/data.etcd --listen-client-urls http://0.0.0.0:4001,http://0.0.0.0:2379 --advertise-client-urls http://{{ node_ip }}:4001,http://{{ node_ip }}:2379 --initial-advertise-peer-urls http://{{ node_ip }}:2380 --listen-peer-urls http://0.0.0.0:2380 --discovery http://{{ bootstrap_ip }}:4002/v2/keys/discovery/{{ cluster_id }}"

	exec etcd $ETCD_OPTS > /var/log/etcd.log

end script