upstream customer {
        server {{ backend_servers.results|map(attribute='server.ipaddress')|list }}:{{ backend_port }};
}

server {
    listen {{ listen_port }};
    port_in_redirect off;

    location / {
        proxy_pass http://customer;
    }
}
