#Minecraft server properties
allow-flight={{ allow-flight }}
allow-nether={{ allow-nether }}
announce-player-achievements={{ announce-player-achievements }}
difficulty={{ difficulty }}
enable-command-block={{ enable-command-block }}
enable-query={{ enable-query }}
enable-rcon={{ enable-rcon }}
force-gamemode={{ force-gamemode }}
gamemode={{ gamemode }}
generate-structures={{ generate-structures }}
generator-settings={{ generator-settings }}
hardcore={{ hardcore }}
level-seed={{ level-seed }}
level-name={{ level-name }}
level-type={{ level-type }}
max-build-height={{ max-build-height }}
max-players={{ max-players }}
motd={{ motd }}
online-mode={{ online-mode }}
op-permission-level={{ op-permission-level }}
player-idle-timeout={{ player-idle-timeout }}
pvp={{ pvp }}
resource-pack={{ resource-pack }}
server-ip={{ server-ip }}
server-port={{ server-port }}
snooper-enabled={{ snooper-enabled }}
spawn-animals={{ spawn-animals }}
spawn-monsters={{ spawn-monsters }}
spawn-npcs={{ spawn-npcs }}
spawn-protection={{ spawn-protection }}
view-distance={{ view-distance }}
white-list={{ white-list }}
