#Minecraft server properties
allow_flight={{ allow_flight }}
allow_nether={{ allow_nether }}
announce_player_achievements={{ announce_player_achievements }}
difficulty={{ difficulty }}
enable_command_block={{ enable_command_block }}
enable_query={{ enable_query }}
enable_rcon={{ enable_rcon }}
force_gamemode={{ force_gamemode }}
gamemode={{ gamemode }}
generate_structures={{ generate_structures }}
generator_settings={{ generator_settings }}
hardcore={{ hardcore }}
level_seed={{ level_seed }}
level_name={{ level_name }}
level_type={{ level_type }}
max_build_height={{ max_build_height }}
max_players={{ max_players }}
motd={{ motd }}
online_mode={{ online_mode }}
op_permission_level={{ op_permission_level }}
player_idle_timeout={{ player_idle_timeout }}
pvp={{ pvp }}
resource_pack={{ resource_pack }}
server_ip={{ server_ip }}
server_port={{ server_port }}
snooper_enabled={{ snooper_enabled }}
spawn_animals={{ spawn_animals }}
spawn_monsters={{ spawn_monsters }}
spawn_npcs={{ spawn_npcs }}
spawn_protection={{ spawn_protection }}
view_distance={{ view_distance }}
white_list={{ white_list }}
