
############################# Server Basics #############################

# See: http://kafka.apache.org/documentation.html#brokerconfigs

broker.id={% for h in play_hosts %}{% if inventory_hostname == h %}{{ server_id }}{% endif %}{% endfor %}

port=9092

# Do not set the host name, bind to all ports!
#host.name=
advertised.host.name={{ansible_ssh_host}}

auto.create.topics.enable=true
default.replication.factor=3
num.partitions=12

delete.topic.enable=true
controlled.shutdown.enable=true

message.max.bytes=5000000

# Socket server configuration

num.network.threads=8
num.io.threads=8
socket.send.buffer.bytes=1048576
socket.receive.buffer.bytes=1048576
socket.request.max.bytes=104857600
queued.max.requests=16
fetch.purgatory.purge.interval.requests=100
producer.purgatory.purge.interval.requests=100

# Replication configurations

num.replica.fetchers=4
min.insync.replicas=2
unclean.leader.election.enable=true
replica.fetch.max.bytes=5000000
replica.fetch.wait.max.ms=500
replica.high.watermark.checkpoint.interval.ms=5000
replica.socket.timeout.ms=30000
replica.socket.receive.buffer.bytes=65536
replica.lag.time.max.ms=10000
replica.lag.max.messages=4000

controller.socket.timeout.ms=30000
controller.message.queue.size=10

############################# Logs #############################

log.dirs=/{{data_dir}}

log.index.interval.bytes=4096
log.index.size.max.bytes=10485760
log.flush.interval.ms=10000
log.flush.interval.messages=20000
log.flush.scheduler.interval.ms=2000

log.roll.hours=24
log.retention.bytes=5000000000
log.retention.hours=120
log.cleanup.policy=delete
log.cleaner.enable=true
log.retention.check.interval.ms=300000
log.segment.bytes=1073741824

############################# Zookeeper #############################

zookeeper.connect={% set IP_ARR=[] %}{% for h in play_hosts %}{% if IP_ARR.insert(loop.index, hostvars[h]['ansible_ssh_host']) %}{% endif %}{% endfor %}{{IP_ARR | join(':2181,') + ':2181'}}
zookeeper.connection.timeout.ms=16000
zookeeper.sync.time.ms=8000
