
##################### Zookeeper Configuration #################################

# See: http://zookeeper.apache.org/doc/r3.4.6/zookeeperAdmin.html

dataDir=/{{data_dir}}
dataLogDir=/{{data_dir}}

maxClientCnxns=60
tickTime=1000
initLimit=10
syncLimit=5

clientPort=2181

{% for h in play_hosts %}
server.{{hostvars[h]['server_id']}}={{hostvars[h]['ansible_ssh_host']}}:2888:3888
{% endfor %}

autopurge.purgeInterval=1
autopurge.snapRetainCount=6
